* {
  background-color: grey;
  color: white;
}

button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
button:hover {
  background-color: azure;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.counter {
  color: rosybrown;
  text-align: center;
  margin-right: 20px;
}
